// Jony main color
$main-color: #428bca !default;

$darker_color: #428bca !default;
$lighter-color: #428bca !default;

$sidebar-background-color: #555 !default;

// Navbar
$navbar-background-color: $main-color !default;
$navbar-link-color: #ffffff;
$navbar-notification-count-empty-background-color: #9ba3ad !default;
$navbar-notification-count-background-color: #ff6600 !default;
$navbar-notification-popover-background-color: $main-color !default;
$navbar-notification-popover-border-color: $main-color !default;
$navbar-notification-popover-color: #ffffff !default;
$navbar-border-color: $main-color !default;
$navbar-link-hover-color: lighten($navbar-link-color, 10%) !default;
$navbar-menu-folder-background-color: $main-color !default;
$navbar-menu-folder-border-color: $navbar-background-color !default;
$navbar-menu-folder-color: $main-color;
$navbar-menu-folder-hover-background-color: $main-color !default;
$navbar-menu-folder-hover-color: lighten($navbar-menu-folder-color, 50%) !default;
$navbar-notification-popover-item-border-color: lighten($navbar-notification-popover-background-color, 33.5%) !default;
$navbar-notification-popover-item-hover-background-color: lighten($navbar-notification-popover-background-color, 26.5%) !default;
$navbar-notification-popover-footer-background-color: lighten($navbar-notification-popover-background-color, 15%) !default;
$navbar-notification-popover-icon-color: $main-color !default;

// Sidebar
$sidebar-background-color: $sidebar-background-color !default;
$sidebar-item-color: lighten-or-darken($main-color, 60%) !default;
$sidebar-item-hover-color: lighten($sidebar-item-color, 20%) !default;
$sidebar-item-border-color: darken($sidebar-background-color, 15%) !default;
$sidebar-item-border-shadow: lighten($sidebar-background-color, 10%) !default;
$sidebar-item-active-background-color: darken($sidebar-background-color, 5%) !default;
$sidebar-menu-icon-background-color: darken($sidebar-background-color, 7.5%) !default;
$sidebar-menu-icon-active-background-color: darken($sidebar-background-color, 12.5%) !default;

// Content
$content-background-color: #f5f5f5 !default;
$content-border-color: darken($main-color, 5%) !default;
$content-border-shadow: darken($main-color, 5%) !default;

// Breadcrumbs
$breadcrumbs-background-color: #ffffff !default;
$breadcrumbs-border-color: #dddddd !default;
$breadcrumbs-item-active-background-color: scale-color($main-color, $lightness: 95%) !default;
$breadcrumbs-item-color: darken($main-color, 30%) !default;
$breadcrumbs-item-background-color: $breadcrumbs-background-color !default;
$breadcrumbs-item-hover-background-color: darken($breadcrumbs-item-active-background-color, 3%) !default;
$breadcrumbs-item-border-color: $breadcrumbs-border-color !default;

// Panels
$panel-footer-action-background-color: $main-color !default;
$panel-footer-action-border-color: darken($main-color, 15%) !default;
$panel-footer-action-hover-background-color: darken($panel-footer-action-background-color, 5%) !default;

// Pagination
$pagination-background-color: #ffffff !default;
$pagination-border-color: #dddddd !default;
$pagination-item-active-background-color: $main-color !default;
$pagination-item-hover-background-color: scale-color($main-color, $lightness: 95%) !default;

// Inputs
$input-border-color: #cccccc !default;
$input-focus-border-color: lighten($main-color, 10%) !default;
$input-focus-border-shadow: lighten($main-color, 30%) !default;
$input-option-multiple-checked-color: $main-color !default;
$input-option-multiple-checked-background-color: lighten($main-color, 40%) !default;
$input-option-multiple-checked-border-color: lighten($main-color, 20%) !default;

// Links
$link-color: $main-color !default;
$link-hover-color: $link-color !default;
